.container {
    position: relative;
    width: 100vw;

    .floating-text {
        position: absolute;
        display: flex;
        flex-direction: column;

        align-items: center;
        color: white;
        font-size: 60px;
        font-family: "Poiret One", cursive;
        text-shadow: 2px 2px 5px white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;

        .carousel-text h3 {
            margin: 0;
            opacity: 0.8;
        }

        .icon {
            background-image: url("../components/widgets/carousel-images/d3Altered.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 350px;
        }
    }
}

.slick-slide img {
    margin: auto;
    height: 90vh;
    width: 100%;
    border-bottom: 1px solid white;
}

@media screen and (max-width: 1600px) {
    .container {
        .floating-text {
            height: 250px;

            .carousel-text h3 {
                font-size: 35px;
            }
        }
    }

    .slick-slide img {
        height: 50vh;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        .floating-text {
            height: 200px;

            .carousel-text h3 {
                font-size: 18px;
            }
        }
    }

    .slick-slide img {
        height: 50vh;
    }
}
