.container {
    position: relative;
    width: 100vw;

    .slick-slide p {
        color: red;
        position: absolute;
        bottom: 0px;
        z-index: 200;
    }
}

.slick-slide img {
    margin: auto;
    height: 70vh;
    width: 100vw;
}
