.container {
    position: relative;
    width: 100vw;

    .floating-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        color: white;
        font-size: 70px;
        font-family: "Spartan", sans-serif;
        text-shadow: 2px 2px 5px white;
        bottom: 10%;
        right: 20%;
        z-index: 200;

        .carousel-text h3 {
            margin: 0;
            opacity: 0.8;
        }

        .icon {
            background-image: url("../components/widgets/carousel-images/d3Altered.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-blend-mode: lighten;
            width: 100%;
            height: 400px;
        }
    }
}

.slick-slide img {
    margin: auto;
    height: 70vh;
    width: 100vw;
    border-bottom: 1px solid white;
}
