@import "./imageCard.scss";

.gallery-main-container {
    position: relative;
    background-image: linear-gradient(to left, #03133a, black);
    border-top: 1px solid black;
    box-shadow: 1px 1px 5px black;
    height: 100%;
    padding-top: 150px;
    font-family: "Poiret One", cursive;

    .btn {
        position: fixed;
        bottom: 50%;
    }

    svg {
        right: 50px;
        bottom: 55%;
        border: none;
        width: 100%;
        color: #f5f5f5;
        font-size: 50px;
        transition: 0.3s ease-in-out;

        &:hover {
            color: #0d22a6;
        }
    }

    .btn-del {
        right: 50px;
    }

    .image-view-wrapper {
        padding: 100px;
        width: 70vw;
        margin: auto;
        margin-bottom: 150px;
        background-color: #f5f5f5;
        border-radius: 30px;
        box-shadow: 1px 1px 6px 2px white;

        .gallery-title h1 {
            font-size: 120px;
            margin-top: 0;
            margin-bottom: 80px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .gallery-main-container {
        background-image: linear-gradient(to bottom left, #f5f5f5, #f5f5f5);
        padding: 50px;

        .btn {
            position: unset;
        }
        .fa-plus-square {
            color: #03133a;
            margin-bottom: 35px;
        }
        .image-view-wrapper {
            padding: 0;
            border-radius: unset;
            box-shadow: unset;

            .gallery-title h1 {
                font-size: 95px;
            }
        }
    }
}
