.homepage-container {
    background-color: white;
    border-top: 1px solid black;
    box-shadow: 1px 1px 5px black;

    .content-body-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 80px;

        .content-image img {
            width: 400px;
            height: 100%;
        }
        .content-description {
            text-align: left;
        }
    }
}
