.homepage-container {
    background-image: linear-gradient(to left, #03133a, black);
    border-top: 1px solid black;
    box-shadow: 1px 1px 5px black;

    .all-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        font-family: "Spartan", sans-serif;
        margin: 100px auto 100px auto;
        padding: 0px 50px 50px 50px;
        background-color: #f5f5f5;
        box-shadow: 1px 1px 6px 2px white;
        border-radius: 6px;
        width: 55vw;

        .body-middle-image {
            background-color: #03133a;
            background-image: url("../components/widgets/carousel-images/alteredD2.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 400px;
            margin: 160px 30px 160px 0px;
            border-radius: 20px;
            box-shadow: 1px 2px 5px black;
        }

        .content-body-wrapper {
            display: flex;
            flex-direction: column;

            .content-body {
                display: flex;
                flex-direction: row;
                margin-top: 55px;

                .content-image img {
                    width: 450px;
                    height: 100%;
                    border-radius: 18px;
                    box-shadow: 1px 2px 5px black;
                }

                .content-description {
                    margin-left: 25px;
                    padding: 25px;
                    letter-spacing: 1px;
                    word-spacing: 2px;

                    p {
                        text-align: left;
                        padding: 15px;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .homepage-container {
        background-image: linear-gradient(to left, #03133a, black);

        .all-content {
            margin: auto;

            .body-middle-image {
                margin: 75px 30px 60px 0px;
            }

            .content-body-wrapper {
                .content-body {
                    flex-direction: column;

                    .content-image img {
                        height: 100%;
                        width: 300px;
                    }

                    .content-description {
                        p {
                            font-size: 13px;
                            text-align: left;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .homepage-container {
        background-image: linear-gradient(to bottom, #f5f5f5, #f5f5f5);

        .all-content {
            box-shadow: none;

            .body-middle-image {
                margin: auto;
                border-radius: unset;
            }

            .content-body-wrapper {
                .content-body {
                    flex-direction: column;

                    .content-image img {
                        height: 100%;
                        width: 100vw;
                        border-radius: unset;
                    }

                    .content-description {
                        p {
                            font-size: 13px;
                            text-align: left;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}
