.main-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    font-size: 20px;
    font-weight: 600;

    .image-wrapper {
        padding: 20px;
        .image-url img {
            width: 400px;
            height: 100%;
            border-radius: 18px;
            box-shadow: 1px 2px 5px black;
        }

        .image-title {
            padding: 15px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            button {
                border: none;
                background-color: transparent;

                svg {
                    padding: 15px;
                    font-size: 30px;
                    color: #03133a;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: #c50035;
                    }
                }
                outline: none;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .main-image-container {
        justify-content: center;
        padding: 15px;

        .image-title {
            font-size: 15px;
        }
    }
}
