.ReactModal__Content--after-open {
    width: 40vw;
    height: 60vh;
    font-family: "Poiret One", cursive;

    #confirm-text {
        padding: 35px;
        font-size: 35px;
        font-weight: 600;
        color: #c50035;
    }

    .modal-wrapper {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .date-display {
            font-weight: 600;
            font-size: 25px;
        }
    }
    .add-delete-image-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form-input-wrapper {
            display: flex;
            padding: 10px;

            .add-input {
                padding: 10px;

                .modal-inputs {
                    height: 25px;
                    padding: 5px;
                    font-size: 20px;
                    border: none;
                    border-radius: 20px;
                    box-shadow: 1px 1px 5px black;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .events-container {
            display: flex;
            flex-direction: initial;
            justify-content: space-evenly;
            font-weight: 600;
            font-size: 18px;

            .times {
                .time-container {
                    padding: 10px;
                    background-color: #f5f5f5;
                    margin-bottom: 15px;
                    border-radius: 20px;
                    box-shadow: 1px 1px 5px black;
                }
            }

            .titles {
                .title-container {
                    padding: 10px;
                    display: flex;
                    background-color: #f5f5f5;
                    margin-left: 15px;
                    margin-bottom: 15px;
                    border-radius: 20px;
                    box-shadow: 1px 1px 5px black;

                    .event-delete {
                        padding-left: 15px;

                        &:hover {
                            transition: 0.5s ease-in-out;
                            color: #f5f5f5;
                        }
                    }
                }
            }
        }
        .submit-form button {
            border: none;
            width: 65px;
            height: 35px;
            border-radius: 5px;
            background-color: #03133a;
            color: white;
            transition: 0.3s ease-in-out;

            &:hover {
                box-shadow: 1px 1px 10px #03133a;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .ReactModal__Content--after-open {
        width: 70vw;
        height: 35vh;
        font-family: "Poiret One", cursive;

        .add-delete-image-form {
            .form-input-wrapper {
                flex-direction: column;
            }
        }
    }
}
