.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 150px;
    align-items: center;
    background-color: #302f2f;
    color: white;
    opacity: 0.8;

    .logo-container h1 {
        font-size: 50px;
        margin-right: 11em;
    }

    .nav-link-wrapper {
        display: flex;
        flex-direction: row;

        .nav-link {
            text-align: center;
            margin-right: 125px;

            .link {
                text-decoration: none;
                color: white;
                font-size: 18px;
            }
        }
    }
}
