.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, #03133a, black);
    margin-bottom: 350px;
    .calender {
        height: 90vh;
        width: 90vw;
        .react-calendar {
            height: 100vh;
            width: 100vw;
            .react-calendar__viewContainer {
                box-shadow: 1px 1px 10px #f5f5f5;
                .react-calendar__month-view {
                    height: 0vh;
                    .react-calendar__month-view__days {
                        border: 2px solid white;
                        .react-calendar__tile {
                            font-family: "Poiret One", cursive;
                            position: relative;
                            border: 1px solid black;
                            font-weight: 600;
                            padding: 75px;
                            background-color: #8f8e8e;
                            color: white;
                            font-size: 15px;
                            height: 100px;
                            &:hover {
                                border: 1px solid white;
                                background-color: #03133a;
                                color: black;
                                transition: 0.6s ease-in-out;
                            }
                            abbr {
                                position: absolute;
                                top: 10px;
                                right: 15px;
                                color: color;
                                font-size: 20px;
                            }

                            .view-events {
                                position: absolute;
                                left: 50%;
                                margin-left: -70px;
                                top: 50%;
                                font-weight: 300;
                                margin-top: -50px;
                                font-size: 15px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .calendar-container {
        height: 100vh;
        width: 95vw;
        margin-bottom: 10px;
        .calender {
            height: 100vh;
            width: 100vw;
            .react-calendar {
                height: 100%;
                .react-calendar__viewContainer {
                    box-shadow: unset;

                    .react-calendar__month-view {
                        .react-calendar__month-view__days {
                            .react-calendar__tile {
                                padding: 15px;
                                font-size: 8px;
                                abbr {
                                    font-size: 10px;
                                    right: 2px;
                                    top: 2px;
                                }
                                .view-events {
                                    position: absolute;
                                    left: 50%;
                                    margin-left: -30px;
                                    top: 50%;
                                    font-weight: 300;
                                    margin-top: -50px;
                                    font-size: 10px;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .calendar-container {
        height: 100vh;
        width: 95vw;
        margin-bottom: 10px;
        .calender {
            height: 100vh;
            .react-calendar {
                height: 100%;
                .react-calendar__viewContainer {
                    height: 90vh;
                    width: 90vw;
                    margin: auto;
                    box-shadow: unset;
                    .react-calendar__month-view {
                        .react-calendar__month-view__days {
                            .react-calendar__tile {
                                padding: 15px;
                                font-size: 8px;
                                abbr {
                                    font-size: 10px;
                                    right: 2px;
                                    top: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
